html{
    background: lavender;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.input-form{
    width: 400px;
    margin-bottom: 10px;
    background: lavender;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: solid 2px black;
}

.login-form{
    margin-top: 300px;
}

.button-submit{
    margin: 10px;
    width: 120px;
    height: 32px;
    border: none;
    background: lavender;
}

.book{
    font-size: 20px;
    font-weight: bold;
}

.book-form{
    margin-top: 20px;
}